@import "tailwindcss";

/* use for tailwind CSS suggestion showing
@tailwind utilities; */
@theme {
  --color-chai: #653818;
  --color-chai-bg: #d49b61;
  --color-chai-soft: rgba(212, 155, 98, 0.5);
  --text-hero: 198px;
  --text-semiHero: 32px;
  --color-chai-dark: #e2bb7b;

  --width-largeButton: 350px;
  --height-largeButton: 70px;

  /* ... */
}

@custom-variant dark (&:where(.dark, .dark *));
